<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yesman.af.softwareengineeringdepartment.cbnu.yesman">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <permission
        android:name="yesman.af.softwareengineeringdepartment.cbnu.yesman.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="yesman.af.softwareengineeringdepartment.cbnu.yesman.permission.C2D_MESSAGE" />

    <!-- 진동 퍼미션 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">


        <activity android:name=".View.RegisterBoardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <!-- GCM 리시버 -->
        <receiver
            android:name=".GCM.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="yesman.af.softwareengineeringdepartment.cbnu.yesman" />
            </intent-filter>
        </receiver>
        <!-- GCM 서비스 -->
        <service android:name=".GCM.GCMIntentService" />



        <!-- 페이스북 메타 데이터들-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_add_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 구글 메타데이터-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDGbzYI4Rcs3YnqB0-wUH4QgD4Fpl5Tf1g" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!-- 메인 -->
        <activity android:name=".View.Activity.ShowBoardList_Main">

        </activity>

        <!-- 글확인 -->
        <activity android:name=".View.Activity.ContentBoard"
            android:parentActivityName=".View.Activity.ShowBoardList_Main" >>
        </activity>


        <!-- 처음 시작 화면 -->
        <activity android:name=".View.Activity.SplashActivity" >
        </activity>

        <!-- 관심분야 설정 -->
        <activity
            android:name=".View.Activity.interest"
            android:label="관심분야 설정" />

        <!-- 마이페이지 -->
        <activity android:name=".View.Activity.MyPage"
            android:theme="@style/AppTheme.TranslucentActionBar" />


        <!-- 위치설정 -->
        <activity android:name=".View.Activity.GoogleMap"
            android:label="사용자 위치 설정"/>

        <!-- 로그인 -->
        <activity android:name=".View.Activity.Login"
            android:theme="@style/AppTheme.NoActionBar"/>


        <!-- 테스트용 -->
        <activity
            android:name=".View.GCMtestActivity"
            android:label="@string/title_activity_gcmtest"
            android:theme="@style/AppTheme.NoActionBar"></activity>






        <!-- 자기 보드 확인 -->
        <activity
            android:name=".View.Activity.MyBoardList"
            ></activity>
    </application>

</manifest>